[req]
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no

[req_distinguished_name]
C = IN
ST = Telangana
L = Hyderabad
O = Symbiot
OU = SymHMS Development
CN = 192.168.0.113

[v3_req]
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
IP.1 = 192.168.0.113
IP.2 = 127.0.0.1
DNS.1 = localhost
DNS.2 = *.local
